.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Faz a altura da tela ser 100% */
}

#imagem {
  background-color: white; /* Fundo branco para a imagem */
  padding: 20px;
  text-align: center;
}

#imagem img {
  max-width: 100%; /* Faz a imagem se ajustar responsivamente */
  height: auto;
}

.content {
  flex-grow: 1; /* Preenche o restante da tela */
  background-color: #001789; /* Fundo azul para o resto da tela */
  padding: 20px;
  border-top-right-radius: 150px; /* Arredonda somente o canto superior direito */
}

.login {
  color: white;
  font-size: 60px;
  padding-right: 14%;
}
.campoTexto {
  background-color: white;
  border-radius: 20px;
  width: 400px;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.top p {
  margin: 10px 0;
}

.esqueceuSenha {
  color: white;
  text-decoration: underline;
}

button {
  margin-top: 20px;
}
.button {
  color: "#1027AF";
}
.esqueceuSenhaTexto {
  color: white;
  font-size: 30px;
  padding-right: 8%;
}

.admSis {
  color: white;
  font-size: 60px;
}

.botoesAdm {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.top-consultaFunc {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.funcSis {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: -10px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buscarFuncTexto {
  color: white;
  font-size: 30px;
  margin-top: -10px;
}

.center-panel {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  background-color: #1027af;
  border-radius: 10px;
  width: 50%;
}

.textoCentroPainel {
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;
}

.right-panel {
  align-items: center;
  justify-content: center;
  padding-right: 100px;
}

.botao-opcaoFunc {
  width: 300px;
}

.right-panel-pas {
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  padding-top: 30px;
}

.center-panel-pas {
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.center-panel-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 70px;
}

.center-panel-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1027af;
  border-radius: 10px;
  width: 70%;
}

.fotoPassageiro {
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 5%;
}

.textoCentroPainel {
  font-size: 16px;
  margin: 5px 0;
}

.campoInfo {
  margin-right: 5px;
}
