.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Faz a altura da tela ser 100% */
}

#imagem {
  background-color: white; /* Fundo branco para a imagem */
  padding: 20px;
  text-align: center;
}

#imagem img {
  max-width: 100%; /* Faz a imagem se ajustar responsivamente */
  height: auto;
}

.content {
  flex-grow: 1; /* Preenche o restante da tela */
  background-color: #001789; /* Fundo azul para o resto da tela */
  padding: 20px;
  border-top-right-radius: 150px; /* Arredonda somente o canto superior direito */
}

.login {
  color: white;
  font-size: 60px;
  padding-right: 14%;
}
.campoTexto {
  background-color: white;
  border-radius: 20px;
  width: 400px;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.top p {
  margin: 10px 0;
}

.esqueceuSenha {
  color: white;
  text-decoration: underline;
}

button {
  margin-top: 20px;
}
.button{
  color:'#1027AF'
}
.esqueceuSenhaTexto{
  color: white;
  font-size: 30px;
  padding-right: 8%;
}
